body {
  background-color: #293032;
  font-family: monospace;
}

span{
border-right: 2px solid transparent;}

.main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.word-box {
  word-wrap: normal;
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  max-width: 800px;
  padding: 10px;
  color: #a4b0b6;
}

.active {
  border-right: 2px solid #9cf6f6;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.correct {
  color: #e6f4f4;
}
.miss {
  color: #f56960;
}

@keyframes blink-caret {
  from,
  to {
    border-color: #9cf6f6;
  }
  50% {
    border-color: transparent;
  }
}
