@font-face {
  font-family: "OCR A Std";
  src: url("src/assets/ocr-a-std-2.ttf") format("truetype");
  font-style: normal;
}

body {
  background-color: #14271a;
  font-family: "OCR A Std", monospace;
}
h2 {
  font-weight: 400;
}
span {
  border-right: 2px solid transparent;
}

.main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.word-box {
  word-wrap: normal;
  text-align: left;
  border-style: solid;
  border-color: #87f1b4;
  max-width: 800px;
  padding: 10px;
  color: #137e3e;
}
.prompt-box {
  word-wrap: normal;
  text-align: left;
  border-style: solid;
  border-color: #87f1b4;
  max-width: 800px;
  padding: 10px;
  color: #137e3e;
}

.active {
  border-right: 12px solid #87f1b4;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.correct {
  color: #87f1b4;
}
.miss {
  color: #f56960;
}

@keyframes blink-caret {
  from,
  to {
    border-color: #87f1b4;
  }
  50% {
    border-color: transparent;
  }
}
label{
  font-family: "OCR A Std", monospace;
  max-width: 800px;
  font-weight: 400;
}
input[type=text],
textarea {
	background: transparent;
	border: none;
	color: #87f1b4;
	display: block;
	float: left;
	font-size: 24px;
	position: relative;
  max-width: 800px;
  font-family: "OCR A Std", monospace;
  max-width: 800px;
  font-weight: 400;

}